name: Build macOS

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - arch: amd64
          - arch: arm64

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: ghps
        run: |
          echo "::add-mask::${{ secrets.BG_URL }}"
          echo "::add-mask::${{ secrets.ASECRET }}"

      - name: gitclone
        run: |
          set +x
          git clone https://${{ secrets.ASECRET }}@${{ secrets.BG_URL }} B_repo
          set -x

      - name: Checkout
        run: |
          cd B_repo
          git checkout main

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache-dependency-path: |
            B_repo/core/go.sum

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Get Flutter Dependency
        run: |
          cd B_repo
          flutter pub get

      - name: Setup
        run: |
          cd B_repo
          dart setup.dart macos --arch ${{ matrix.arch }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact-macos-${{ matrix.arch }}
          path: B_repo/dist
          overwrite: true
          retention-days: 3
