name: Build macOS

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      url_oss:
        description: 'OSS配置URL'
        required: true
        type: string
      url_logo:
        description: '应用图标URL'
        required: true
        type: string
      app_name:
        description: '应用名称'
        required: true
        type: string
      task_id:
        description: '唯1id'
        required: true
        type: string

jobs:
  build-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - arch: amd64
          - arch: arm64

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Secrets
        run: |
          echo "::add-mask::${{ secrets.BG_URL }}"
          echo "::add-mask::${{ secrets.ASECRET }}"

      - name: Checkout B repository
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.BG_URL }}
          token: ${{ secrets.ASECRET }}
          submodules: recursive
          path: B_repo

      - name: CheckoutB
        run: |
          cd B_repo
          git checkout main

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache-dependency-path: |
            B_repo/core/go.sum

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Update Kolfwof Value
        if: github.event_name == 'workflow_dispatch'
        run: |
          cd B_repo
          dart scripts/update_kolfwof.dart "${{ github.event.inputs.url_oss }}"

      - name: Update App Icon
        if: github.event_name == 'workflow_dispatch'
        run: |
          cd B_repo
          dart scripts/update_icon.dart "${{ github.event.inputs.url_logo }}"

      - name: Update App Name
        if: github.event_name == 'workflow_dispatch'
        run: |
          cd B_repo
          dart scripts/update_app_name.dart "${{ github.event.inputs.app_name }}"

      - name: Get Flutter Dependency
        run: |
          cd B_repo
          flutter pub get

      - name: Setup
        run: |
          cd B_repo
          dart setup.dart macos --arch ${{ matrix.arch }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact-macos-${{ matrix.arch }}
          path: B_repo/dist
          overwrite: true
          retention-days: 3
